{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Login</h3>
            <hr>
            <form action="" class="shadow p-5" method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small> <br>
                </div>
                {% endfor %}
                <small><a href="{% url 'password_reset' %}">Forgot Password ?</a></small> <br>
                <input class="btn btn-primary mt-4" type="submit" value="Login">
                <br>
                <div class="text-center text-primary fw-bold"><small> New to E-shopper ?
                    <a class="text-danger" href="{% url 'customerregistration'%}">
                        Create an Account</a> </small></div>

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}