{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <h3> Welcome {{request.user}} </h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a class="btn btn-primary"
                                      href="{% url 'index' %}">Change Password Done</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3> Password Changed Successfully </h3>
            <div>
                <iframe allowfullscreen
                        class="giphy-embed" frameBorder="0" height="200" src="https://giphy.com/embed/ibo1Le3mOqHE3PQTtk"
                        width="200"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
