{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a class="btn btn-primary" href="{% url 'index' %}">Profile</a></li>
            </ul>
        </div>
        <div class="col-sm-6 offset-sm-1">
            <h3> Change Password</h3>
            <hr>
            <form action="" class="shadow-sm p-5" method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}} <small class="text-danger">
                    {{fm.errors|striptags}} </small> <br>
                </div>
                {% endfor %}
                <input class="btn btn-primary mt-4" type="submit" value="Save">
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}