{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
        <h4>Reset Password Completed!</h4>
        <div><iframe src="https://giphy.com/embed/ibo1Le3mOqHE3PQTtk"
       width = "200" height = "200" frameBorder="0" class="giphy-embed"
                   allowfullscreen>
             </iframe>
            <li><a href="{% url 'login' %}">Login Now</a></li>
        </div>
    </div>
  </div>
</div>
{% endblock %}
